@import url(bootstrap/dist/css/bootstrap.min.css);

body {
  font-family: "Roboto";
}

.btn {
  /* font-weight: bold; */
  text-transform: uppercase;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.subsection {
  padding: 3.5rem 0;
}

.subsection .container > h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #343a40;
}

.title {
  font-family: "Lilita One";
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  /* color: #007bff; */
  border-top: 2px #ffc107 solid;
  border-bottom: 2px #ffc107 solid;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: bold;
  border-bottom: 1px #ffc107 solid;
  padding-bottom: 0.5rem;
  margin-bottom: 0.75rem;
}

#main {
  margin-top: 7.769rem;
}

button svg,
a svg {
  margin-right: 0.5rem;
  margin-bottom: 4px;
}

.hero {
  position: relative;
}

.hero::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.core-services {
  margin: 0;
}
.core-services .service {
  margin: 0.125rem 0;
}

.bg-darker {
  background-color: #1c1f22;
}

.core-services .service::before {
  content: "";
  -webkit-mask: url("/check.svg");
  mask: url("/check.svg");
  -webkit-mask-size: cover;
  background-color: rgb(6, 185, 0);
  margin-right: 0.5rem;
  position: relative;
  top: 6px;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}

/* md */
@media screen and (max-width: 992px) {
  #main {
    margin-top: 85px;
  }

  .hero h1 {
    /* font-size: medium; */
    width: 60%;
  }

  #footer img {
    width: 200px;
  }
}

/* md only */
@media screen and (min-width: 576px) and (max-width: 992px) {
}

/* sm */
@media screen and (max-width: 576px) {
  #mainnavbar .navbar-brand {
    width: 200px;
  }

  #main {
    margin-top: 75px;
  }

  .hero h1 {
    font-size: large;
    width: 75%;
  }
}
