#maincarousel .carousel-caption {
  text-align: center;
  bottom: auto;
  left: 10%;
  top: 18%;
  width: 45%;
  background-color: #007bff;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

#maincarousel .carousel-caption h2 {
  text-transform: uppercase;
  font-size: 2rem;
}

#maincarousel .carousel-caption h3 {
  font-size: 1.5rem;
  font-weight: lighter;
  color: #ffc107;
}

#keybenefits .copy {
  position: relative;
  top: -1.5rem;
}

#services img::before {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 100%;
  height: 100%;
  content: "";
  background-color: white;
}

/* lg and beyond */
@media screen and (min-width: 1600px) {
  #maincarousel .carousel-caption {
    top: 30%;
    left: 25%;
    width: 25%;
  }
}

/* up to md */
@media screen and (max-width: 992px) {
  #maincarousel .carousel-caption {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    min-height: 380px;
    padding: 1rem 0.5rem;
    border-radius: 0;
    display: flex;
    align-items: center;
  }

  #maincarousel .carousel-control-prev,
  #maincarousel .carousel-control-next {
    align-items: flex-start;
    margin-top: 20%;
  }

  #maincarousel .carousel-caption h3 {
    font-size: 22px;
    font-weight: lighter;
    color: #ffc107;
  }
}

/* sm only */
/* @media screen and (max-width: 576px) {
} */
