#keybenefits h4 {
  min-height: 4rem;
  color: #343a40;
}

#keybenefits .copy {
  position: relative;
  top: -1.5rem;
}

#services img::before {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 100%;
  height: 100%;
  content: "";
  background-color: white;
}

@media screen and (max-width: 992px) {
  #keybenefits h4 {
    min-height: 5rem;
  }
}

@media screen and (max-width: 720px) {
  #keybenefits h4 {
    min-height: auto;
  }
}
